// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.error {
  color: red;
}

label {
  font-size: 1.2em;
}

.flash-success {
  color: green;
}

.container {
  margin-top: 100px;
  background-color: skyblue;
  border-radius: 20px;
  padding: 50px;
  .inner-container {
    width: 60%;
    margin: auto;
  }
}
